.mud-navmenu.mud-navmenu-default .mud-nav-link.active:not(.mud-nav-link-disabled) {
    color: inherit;
}

.mud-list {
    border: 1px solid var(--mud-palette-lines-default)
}

.custom-header {
    text-align: center;
    white-space: normal; /* Allows text to wrap */
    word-wrap: break-word; /* Ensures long words break and wrap */
}